* {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

body {
    background: rgb(0, 0, 0);
    color: #00ffbf;
    margin-top: 20px;
}

.container {
    display: block;
    width: 400px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}

.button {
    display: block;
    width: 50%;
    height: 30px;
    background: #00ffbf;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    line-height: 10px;
    cursor: pointer;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.delete-btn:hover {
    background-color: darkred;
}
.input-field {
    width: 70%;
    height: 25px;
    font-size: 16px;
    padding: 4px;
    margin-right: 10px;
}